<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="page-header">
            <h1>Welcome!</h1>
            
        </div>
        <div class="col-md-8 col-lg-6">
        <div class="login d-flex align-items-center py-5">
        </div>
        <div class="jumbotron">


                {% if messages %}
                    <ul class="messages">    
                {% for message in messages %}    
                    <li>{{ message }}</li>    
                {% endfor %}
                    </ul>
                {% endif %}

                    
            <form action="/createuser" method="post">
                {% csrf_token %}
                <h2>Register:</h2>
                <div class="form-label-group">
                    <input type="text" id="inputEmail" class="form-control" name="name" placeholder="Full Name" required autofocus>
                    <label for="inputEmail">Name</label>
                </div>
                
                <div class="form-label-group">
                    <input type="text" id="inputEmail" class="form-control" name="username" placeholder="Username" required autofocus>
                    <label for="inputEmail">Username</label>
                </div>
                <div class="form-label-group">
                    <input type="password" id="inputEmail" class="form-control" name="pw" placeholder="Password" required autofocus>
                    <label for="inputEmail">Password</label>
                </div>
                <div class="form-label-group">
                    <input type="password" id="inputEmail" class="form-control" name="cpw" placeholder="Confirm Password" required autofocus>
                    <label for="inputEmail">Confirm Password</label>
                </div>
                <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-3" type="submit">Register</button>
                <!-- <p>Name: <input type="text" name="name" id=""></p> -->
                <!-- <p>Username: <input type="text" name="username" id=""></p> -->
                <!-- <p>Password: <input type="password" name="pw" id=""></p> -->
                <!-- <p>Confirm Password: <input type="password" name="cpw" id=""></p> -->
            </form>
               
                
                

            <form action="/login" method="post">
                {% csrf_token %}
                <h2>Login</h2>
                <div class="form-label-group">
                    <input type="text" id="inputEmail" class="form-control" name="logusername" placeholder="Username" required autofocus>
                    <label for="inputEmail">Username</label>
                </div>
                <div class="form-label-group">
                    <input type="password" id="inputEmail" class="form-control" name="logpw" placeholder="Password" required autofocus>
                    <label for="inputEmail">Password</label>
                </div>
                <!-- <p>Username: <input type="text" name="username" id=""></p>
                <p>Password: <input type="password" name="pw" id=""></p> -->
                <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Login</button>
                
            </form>
                
    </div>
    </div>
     
    </div>
    </div>
</body>
</html>