<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
</head>
<body>

	<h1>Add a Trip</h1>
	<button><a href="/travels">Home</a></button>
	<button><a href="/logout">Logout</a></button>
	<form action="/createtrip" method="post">
		{% csrf_token %}
		<p>Destination <input type="text" name="location" id=""></p>
		<p><textarea name="description" id="" cols="30" rows="10"></textarea></p>
		<p>Travel Date From: <input type="date" name="start_date" id=""></p>
		<p>Travel Date To: <input type="date" name="end_date" id=""></p>
		<button><input type="submit" value="Add"></button>
		
	</form>


	
</body>
</html>